NEXT_PUBLIC_GOOGLE_CLIENT_ID=948918026196-6l8l1e4gvv6dl9msrisf7bplrp71gk3i.apps.googleusercontent.com
NEXT_PUBLIC_JEED_SERVER=https://cloud.cs124.org/jeed
# Uncomment if using local container
# NEXT_PUBLIC_JEED_SERVER=http://localhost:8888
